#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #764134;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__container {
  position: relative;
  text-align: center;
}

.hero__img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.middle-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the middle-section */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content vertically */
}

.hero__search-bar {
  display: flex;
  align-items: center;
  margin-top: 1rem; /* Add some space above the search bar */
}

button {
  margin-top: 1rem; /* Add some space above the button */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
